.contact {
    display: grid;
}

.contact > div {
    padding: 0 20px 0 0;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    .list-column {
        display:grid;
        grid-column: span 3;
        ul {
            margin: 10px 0 10px 0;
        }
    }
}

@media screen and (max-width: 960px) {
    .contact .list-column {
        display: grid;
        grid-column: span 8 !important;
    }
}

@media screen and (max-width: 768px) {
    .list-column {
        display: grid;
        grid-column: span 4 !important;
    }
}

@media screen and (max-width: 640px) {
    .list-column {
        display: grid;
        grid-column: span 8 !important;
    }
}
