header {
    background: #2D2E2E;
    height: 100%;

    a {
        color: #fff;
        padding: 20px;
        text-decoration:none;
    }
    .activated {
        background-color: #00a8ff;
    }
}
